* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form2 {
    border-radius: 4px;
    color: rgb(95, 94, 94);
    font-size: 14px;
    padding: 30px;
    width: 725px;
    margin: 0 auto;
    font-family: sans-serif;
}

.form2 p {
    width: 100px;
    margin-top: 20px;
    text-align: left;
    font-family: sans-serif;
    font-size: 22px;
}

p {
    max-width: 200px;
}

input,
textarea {
    margin-left: 40px;
    border: 0;
    outline: none;
    width: 100px;
    font-family: sans-serif;
    font-size: 12px;
}

.claseb {
    border: solid 1px #ccc;
    padding: 10px;
    text-align: left;
    width: 200px;
}

.claseb:focus {
    border-color: #5457dd;
}

.clase-centroi {
    text-align: center;
    font-family: sans-serif;
}

.button3 {
    cursor: pointer;
    background: #2c1877;
    color: #e9dede;
    width: 725px;
    height: 70PX;
    margin: 0;
    font-size: 40px;
    padding: 15px;
    box-shadow: 0px 0px 18px rgb(0, 0, 0) inset;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
}

.button3:hover {
    transform: scale(1.1);
    transition: 1s;
}

.button2 {
    border-radius: 4px;
    background: #2c1877;
    color: #ffffff;
    margin-top: 10px;
    margin-left: none;
    padding: 10px;
    box-shadow: 0px 0px 4px rgb(183, 169, 216);
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
}

.button2:hover {
    transform: scale(1.1);
    transition: 1s;
}

.divform {
    margin-top: 30px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    box-shadow: 0 0 10px #131111;
    color: #2c1877;
    text-align: left;
}

.divimg {
    float: left;
    padding: 15px;
}

.barra {
    width: 10px;
    margin-top: 8.5px;
    margin-left: 40px;
    margin-right: 2px;
}

.H {
    background: white;
    color: black;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 0px 15px;
    margin-bottom: 20px;
}

h3 {
    width: 200px;
    margin-top: 40px;
}

.grid {
    background: white;
    display: grid;
    grid-template-columns: 362.5px 362.5px;
    grid-template-rows: 600px 400px 100;
    box-shadow: 0px 0px 15px black;
}

.C {
    border: 2px #2c1877 solid;
}

#C2 {
    grid-column-start: 1;
    grid-column-end: -1;
}

#General {
    height: 900px;
    display: grid;
    grid-template-columns: 25px 500px 50px 725px 40px;
    grid-template-rows: 100px 600px;
}

#cv {
    height: 1000px;
    grid-template-rows: 100px 800px;
}

footer {
    text-align: center;
}

.RRHH {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

.divform {
    box-shadow: 0px 0px 150px rgb(94, 94, 94) inset;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    height: 400px;
    color: black;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 3;
}

h4 {
    color: black;
    text-align: center;
    margin: 20px auto;
}

.cajat {
    width: 400px;
    font-size: 18px;
}

article {
    margin-left: 50px;
    width: 400px;
}